# Dependências
node_modules/
package-lock.json

# Saída de produção local
producao/
*.zip

# Arquivos de ambiente e Vercel
.vercel
.env
.env.local
.env.*.local

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
